@model IEnumerable<SenalesMioelectricas.Models.Paciente>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <a href="@Url.Action("Create", "Paciente")"><i class="btn btn-success btn-sm">Agregar</i></a>
    <br />
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_Materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.Label("Opciones")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido_Paterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido_Materno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Paciente", new { id = item.ID_Paciente })">
                <i class="fa fa-edit btn btn-info btn-sm"></i>
            </a> |
            <a href="@Url.Action("Details", "Paciente", new { id = item.ID_Paciente })">
                <i class="btn btn-warning btn-sm">Details</i>
            </a> |
            <a href="@Url.Action("Delete", "Paciente", new { id = item.ID_Paciente })">
                <i class="btn btn-danger btn-sm">Delete</i>
            </a>
        </td>
    </tr>
        }

    </table>
</body>
</html>

